body {
    background-color: #0068B2;
}



/**LOGIN*/

.imagenLogo{

    margin-top: 50px;
}

.email{
    height: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.pass{
    height: 35px;
    margin-bottom: 15px;

}

.botonLogin{
    height: 30px;
    background-color: grey;
    border: none;
    color: white;
}

.alert-danger{
    margin-top:15px;
    color: #0068B2;
    background-color: white;
}

.alert-success {
    margin-top:15px !important;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.textoError{
    font-weight: bold;
}

/**FIN LOGIN*/